<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="JYDBLocal" connectionString="Data Source=(local);Initial Catalog=JYDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="JYDB_FE" connectionString="metadata=res://*/JYDB_FE.csdl|res://*/JYDB_FE.ssdl|res://*/JYDB_FE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.254.8.204;initial catalog=JYDB_FE;user id=sa;password=hxdb666;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="System.Web.DataSets.Properties.Settings.JYDB" connectionString="Data Source=10.254.8.204,1435;Initial Catalog=JYDB;User ID=sa;Password=hxdb666"
      providerName="System.Data.SqlClient" />
    <add name="TradeShark" connectionString="Data Source=(local);Initial Catalog=TradeShark; Integrated Security=True; MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>